<div class=" p-grid" >
<div class="container p-grid p-fluid">
  <img src="/assets/img/jogatina.png" alt="logo" width="50" />

</div>
<button
pButton
pRipple
type="button"
(click)="visibleSidebar1 = true"
class="p-button-rounded p-button-text"
>
<i class="teste pi pi-bars" style="font-size: 2rem"></i>
</button>
</div>
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <h1 style="font-weight: normal">Left Sidebar</h1>
  <div class="p-grid p-fluid">
    <button pButton pRipple type="button" label="teste" class="p-button-text "></button>
    <br>

    <button pButton pRipple type="button" label="teste1" class="p-button-text"></button>
  </div>

</p-sidebar>

<footer>
  Desenvolvido por Romario Ribeiro
</footer>
