<div class="container ">
  <h1>Bem Vindo ao Jogatina Marota</h1>
<p>Bem vindo ao Jogatina Marota esse Site foi feito para pessoas que joga em grupo
  e fazer aquela amizade compartilha memes e jogadas muito boas e tambem pode compatilha fotos de lol, cs go,
  e muito mais mais com todo o site tem a suas Regras que sera colocada a baixo
  vamos compartilha um grupo no discord e no whatezapp pra que voçê fique por dentro das novidades de jogos e atulização </p>

  <table >
    <tr>
        <th></th>
        <th>Regras do Site</th>
    </tr>
    <tr>
        <td>Item 1</td>
        <td>R$10,00</td>
    </tr>
    <tr>
        <td>Item 2</td>
        <td>R$20,00</td>
    </tr>
</table>

</div>
